.footer {
  background-color: #faf9f6;
  color: #333;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 84px;
  height: 58px;
  margin-right: 10px;
}

.footer-logo p {
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #457b60;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-social-icons a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.footer-social-icons img {
  width: 30px;
  height: 30px;
}

.footer-social-icons a:hover {
  transform: scale(1.2);
}

.footer-copyright {
  width: 100%;
}

.footer-copyright hr {
  border-color: #444;
  margin: 20px 0;
}

.footer-copyright p {
  margin: 0;
  font-size: 0.9rem;
}

/* Responsive Design */

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .footer-links li {
    margin: 0;
  }

  .footer-links a {
    font-size: 1.1rem;
  }

  .footer-social-icons {
    justify-content: flex-end;
  }
}


@media (max-width:1280px) {
  .footer{
    gap: 20px;
  }
  .footer-logo{
    gap: 10px;
    align-items: end; 
  }
  .footer-logo img{
      width: 64px;
      height: auto;
  }
  .footer-logo p{
    font-size: 28px;
  }
  .footer-links{
    font-size: 18px;
    gap: 15px;
  }
  .footer-social-icons img{
width: 32px;
height: auto;
  }
  .footer-copyright{
    font-size: 16px;
  }
}

@media (max-width:500px) {
  .footer{
    gap: 20px;
  }
  .footer-logo{
    gap: 10px;
    align-items: end; 
  }
  .footer-logo img{
      width: 64px;
      height: auto;
  }
  .footer-logo p{
    font-size: 22px;
  }
  .footer-links{
    font-size: 14px;
    gap: 15px;
  }
  .footer-social-icons img{
width: 32px;
height: auto;
  }
  .footer-copyright{
    font-size: 12px;
  }
}

@media (max-width:390px) {
  .footer{
    gap: 20px;
  }
  .footer-logo{
    gap: 10px;
    align-items: end; 
  }
  .footer-logo img{
      width: 64px;
      height: auto;
  }
  .footer-logo p{
    font-size: 20px;
  }
  .footer-links{
    font-size: 11px;
    gap: 15px;
  }
  .footer-social-icons img{
width: 32px;
height: auto;
  }
  .footer-copyright{
    font-size: 12px;
  }
}