.hero{
  height: 80vh;
  background: white;
  display: flex;
  margin: 30px auto;
  background: #ffffff;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: rgb(48, 48, 48);
  font-size: 26px;
  font-weight: 300;
}

.hero-left p{
  color: rgb(48, 48, 48);
  font-size: 50px;
  font-weight: 600;
}


.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
 cursor: pointer;
  margin-top: 30px;
  background: #395748;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.hero-latest-btn img{
  width: 30px;
}


.hero-right img{
  width: 550px;
  height: 550px;
}

.hero-right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:1280px) {
  .hero{
    height: auto;
  }
  .hero-left{
  padding-left: 100px;
  }
  .hero-left h2{
    font-size: 22px;
    font-weight: 300;
  }
  .hero-left p{
    font-size: 40px;
    font-weight: 600;
  }
.hero-latest-btn{
  gap: 10px;
  width: 250px;
  height: 60px;
  margin-top: 20px;
  font-size: 18px;
}

.hero-right img{
  width: 500px;
  height: auto;
}
}

@media(max-width:1024px) {
  .hero{
    height: auto;
  }
  .hero-left{
  padding-left: 80px;
  }
  .hero-left h2{
    font-size: 20px;
    font-weight: 600;
  }
  .hero-left p{
    font-size: 35px;
    font-weight: 300;
  }
.hero-latest-btn{
  width: 220px;
  height: 50px;
  font-size: 16px;
}

.hero-right img{
  width: 400px;
  height: auto;
}
}

@media(max-width:800px) {
  .hero{
    height: auto;
  }
  .hero-left{
  padding-left: 30px;
  }
  .hero-left h2{
    font-size: 16px;
    font-weight: 600;
  }
  .hero-left p{
    font-size: 30px;
    font-weight: 300;
  }
.hero-latest-btn{
  width: 175px;
  height: 40px;
  font-size: 13px;
}

.hero-right img{
  width: 330px;
  height: auto;
}
}

@media(max-width:500px) {
  .hero{
    flex-direction: column;
    height: auto;
  }
  .hero-right{
    display: none;
  }

  .hero-left h2{
    font-size: 18px;
    font-weight: 600;
  }
  .hero-left p{
    font-size: 50px;
    font-weight: 300;
  }
.hero-latest-btn{
  width: 200px;
  height: 45px;
  font-size: 14px;
}

.hero-right img{
  width: 330px;
  height: auto;
}
}