.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: whitesmoke;
}

.nav-logo {
  width: 180px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a, .nav-links button {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.nav-links button {
  background: none;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

.nav-profile {
  height: 40px;
  margin-left: 20px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .navbar{
    padding: 15px 30px;
  }
  .nav-logo{
    width: 150px;
  }
  .nav-profile{
    width: 75px;
  }
}

@media (max-width: 390px) {
  .navbar{
    padding: 10px 20px;
  }
  .nav-logo{
    width: 130px;
  }
  .nav-profile{
    width: 75px;
  }
}

