.news-letter{
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 140px;
  background: #9cab9d;
  gap: 30px;
}

.news-letter h1{
  color: #303030;
  font-size: 50px;
  font-weight: 600;

}

.news-letter p{
  color: #303030;
  font-size: 20px;
}

.news-letter div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
 
  border: 1.5px solid rgb(48, 48, 48);
}

.news-letter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: rgb(48, 48, 48);
  cursor: text;
  font-family: 'Montserrat';
  font-size: 18px;
}

.news-letter div button{
  width: 220px;
  height: 71px;

  background: #303030;
  color: white;
cursor: pointer;
font-size: 18px;
font-family: 'Montserrat';
}


@media(max-width:1280px) {
 .news-letter{
  height: 25vh;
  padding: 0px 80px;
  gap: 20px;
 }
 .news-letter h1{
  font-size: 36px;
 }
 .news-letter p{
  font-size: 16px;
 }
 .news-letter div{
  width: 600px;
  height: 60px;
 }
 .news-letter div input{
  width: 400px;
 }
 .news-letter div  button{
width: 200px;
height: 60px;
 }
}

@media(max-width:1024px) {
  .news-letter{
    height: 25vh;

   }
   .news-letter h1{
    font-size: 30px;
   }
   .news-letter p{
    font-size: 14px;
   }
   .news-letter div{
    width: 500px;
    height: 50px;
   }
   .news-letter div input{
    width: 300px;
    font-size: 14px;
   }
   .news-letter div  button{
  width: 140px;
  height: 50px;
  font-size: 14px;
   }
}
@media(max-width:800px) {
  .news-letter{
    height: 25vh;

   }
   .news-letter h1{
    font-size: 26px;
   }
   .news-letter p{
    font-size: 13px;
   }
   .news-letter div{
    width: 400px;
    height: 40px;
   }
   .news-letter div input{
    width: 200px;
    font-size: 13px;
   }
   .news-letter div  button{
  width: 120px;
  height: 40px;
  font-size: 13px;
   }
}

@media(max-width:500px) { 
  .news-letter{
    height: 25vh;
    width: 100%;
    padding: 0;
    gap: 15px;
   }
   .news-letter h1{
    font-size: 16px;
   }
   .news-letter p{
    font-size: 13px;
    max-width: 200px;
    text-align: center;
   }
   .news-letter div{
    width:290px;
   }
   .news-letter div input{
    width: 130px;
   }

}